@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: 'IM Fell English', sans-serif;
    line-height: 36px;
    font-size: 18px;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    padding-bottom: 2em;
    transition: all 0.2s;
}

h3 {
    font-size: 18px;
}

.flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

/* --- */

#container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


#title {
  font-family: 'skullsandcrossbones';
}
